/* secao projetos */
#projetos {
    background-color: #060b10;
    max-width: 100%;
    padding: 80px;
}

#projetos h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.grade-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-projeto {
    background-color: #ffffff05;
    border: 1px solid #38bdf81a;
    border-top: 2px solid #4ade80;
    border-radius: 8px;
    padding: 24px;
    width: 280px;
}

.card-projeto:hover {
    transform: scale(1.03);
}

.projeto-cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.badge {
    background-color: rgba(74, 222, 128, 0.1);
    border: 1px solid rgba(74, 222, 128, 0.3);
    color: #4ade80;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 4px;
}

.periodo-projeto {
    color: #555;
    font-size: 11px;
}

.card-projeto h3 {
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.4;
}

.card-projeto p {
    color: #aaa;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    line-height: 1.6;
    border-bottom: 1px solid #1a2a3a;
    padding-bottom: 12px;
}

.rodape-projeto {
    color: rgba(56, 189, 248, 0.6);
    font-size: 11px;
    display: block;
    margin-top: 12px;
}


/* secao contato */
#contato {
    text-align: center;
    border-top: 1px solid #1a2a3a;
}

#contato h2 {
    color: white;
    font-size: 44px;
    margin: 10px 0;
}

.desc-contato {
    color: #aaa;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
}

.contato-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.redes-sociais {
    display: flex;
    gap: 10px;
}

.rede {
    color: #aaa;
    border: 1px solid #1a2a3a;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 13px;
}

.rede:hover {
    color: #38bdf8;
    border-color: #38bdf8;
}


/* rodape */
footer {
    border-top: 1px solid #1a2a3a;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 12px;
    color: #555;
}